<h3>Displaying book of Title <%= book.title %></h3>
<div class="book-detail">
    <div class="book-detail-image-buttons">
        <img src="<%= book.coverimagefullpath %>" class="book-cover" alt="" height="100" width="150">
        <div class="book-detail-button-wrapper">
            <a href="/books/<%= book.id %>/edit" class="btn btn-primary">Edit</a>
            <%- include('./partials/deleteform',{url: `/books/${book.id}`}) %>
        </div>
    </div>
    <div class="book-detail-information">
            <div class="book-details-label">Name:</div>
            <div><%= book.title %></div>
            <div class="book-details-label">Description:</div>
            <div><%= book.description %></div>
            <div class="book-details-label">Author Name:</div>
            <div><%= book.author.name %></div>
            <div class="book-details-label">Publish Date:</div>
            <div><%= book.publishdate.toDateString() %></div>
    </div>
</div>